name: Octocat commits check
on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check if octocat commits are present?
        id: octocat
        env:
          pull_request_number: ${{ github.event.pull_request.number }}
          github_repository: ${{ github.repository }}
        run: |
          curl --silent -X "GET" https://api.github.com/repos/$github_repository/pulls/$pull_request_number/commits | jq '.[] | {author: .author.login}' | jq -r '.author' >> SORTED_AUTHORS.txt

          while IFS=" " read -r AUTHOR;
          do
            if [[ $AUTHOR == *"null"* ]]; then
              echo "OCTOCAT_COMMIT_FOUND=true" >> $GITHUB_OUTPUT
            fi
          done < SORTED_AUTHORS.txt
      - name: Create comment
        if: ${{ steps.octocat.outputs.OCTOCAT_COMMIT_FOUND == 'true' }}
        uses: peter-evans/create-or-update-comment@v5
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            Hi @${{ github.event.pull_request.user.login }}. Thank you for your valuable contribution.
            Please author your commit(s) using an email [linked to your GitHub account](https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-graphs-on-your-profile/why-are-my-contributions-not-showing-up-on-my-profile).
      - name: Check failure
        if: ${{ steps.octocat.outputs.OCTOCAT_COMMIT_FOUND == 'true' }}
        uses: actions/github-script@v8
        continue-on-error: false
        with:
          script: |
            throw new Error('Octocat commits found')